* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2em;
	font-family: 'Tenor Sans', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.header {
	padding: 0px;
	width: 100%;
	background: url("../images/banner.png") center top no-repeat;
	background-size: cover;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #494949;
	margin: 0px 50px 0px 0px;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.navbar-expand-lg .navbar-nav .nav-item .active {
	color: #494949;
	font-weight: 600;
}

.navbar-expand-lg .navbar-collapse .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: #494949;
	border: 0px;
	padding: 5px 20px;
	border: 1px solid #494949;
	border-radius: 20px;
	transition: 1s;
	margin: 0px;
}

.navbar-expand-lg .navbar-collapse .btn-primary:hover {
	color: #494949;
	background: transparent;


}

.banner {
	width: 100%;
	padding: 80px 0px 240px;
}

.banner .inner-banner {
	width: 43%;
	margin: 0px auto;
}

.inner-content {
	width: 100%;
	text-align: center;
}

.inner-content h1 {
	font-family: 'Tenor Sans';
	font-size: 46px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #976a4e;
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
}

.inner-content img {}

.inner-content h4 {
	font-family: 'Tenor Sans';
	font-size: 21px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #3e3e3e;
	margin: 30px 0px 30px 0px;
	text-transform: uppercase;
}

.inner-content p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #3e3e3e;
	margin: 30px 0px 30px 0px;
	text-transform: uppercase;
}

.inner-content .inner-btn {
	width: 100%;
	padding: 20px 10px;
}

.inner-content .inner-btn .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #d1bfa7;
	background: #95694d;
	border: 0px;
	padding: 5px 20px;
	border: 1px solid #95694d;
	border-radius: 20px;
	transition: 1s;
	margin: 0px 50px 0px 0px;
}

.inner-content .inner-btn .btn-primary:hover {
	color: #95694d;
	background: transparent;
}

.inner-content .inner-btn .btn-info {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #95694d;
	background: transparent;
	border: 0px;
	padding: 5px 15px;
	border: 0px;
	transition: 1s;
	margin: 0px;
}

.project-count {
	width: 100%;
	padding: 40px 0px;
	background: #494949;
}

.inner-count {
	width: 100%;
	text-align: center;
}

.inner-count h1 {
	font-size: 42px;
	letter-spacing: 1px;
	line-height: 1.2em;
	font-weight: 700;
	color: #daceb8;
}

.inner-count p {
	font-family: 'Tenor Sans';
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.7em;
	font-weight: 400;
	color: #daceb8;
	text-transform: uppercase;
}

.feature {
	width: 100%;
	padding: 80px 0px;
	background: url("../images/feature%20bg.png") center top no-repeat;
	background-size: cover;
}

.feature .title {
	width: 43%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0px 70px;
}

.feature .title h1 {
	font-family: 'Tenor Sans';
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #976a4e;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
}

.feature .title p {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #3e3e3e;
	text-transform: uppercase;
}

.inner-feature {
	width: 100%;
	text-align: center;
	padding: 0px 0px;
}

.inner-feature .inner-feature-content {
	width: 100%;
	padding: 0px 22px;
}

.inner-feature .img-fluid {
	width: 200px;
	height: 200px;
}

.inner-feature .inner-feature-content h4 {
	font-family: 'Tenor Sans';
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #976a4e;
	margin: 30px 0px 0px 0px;
	text-transform: uppercase;
}

.inner-feature .inner-feature-content p {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #3e3e3e;
	margin: 15px 0px 15px 0px;
	text-transform: uppercase;
}

.inner-feature .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #976a4e;
	background: transparent;
	border: 0px;
	padding: 5px 10px;
	border: 1px solid #976a4e;
	border-radius: 20px;
	transition: 1s;
}

.inner-feature .btn-primary:hover {
	background: #976a4e;
	color: #3e3e3e;
	border: 1px solid #976a4e;
}

.slider {
	width: 100%;
	padding: 80px 0px;
}

.owl-carousel {
	background: #976a4e;
	height: 520px;
}

.owl-carousel .img-fluid {
	height: 520px;
}

.owl-carousel .inner-slider {
	width: 100%;
	height: 520px;
	padding: 130px 120px 0px;
	text-align: left;
	margin: 0px auto;
}

.owl-carousel .inner-slider h1 {
	font-family: 'Tenor Sans';
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #e0d4bd;
	margin: 0px 0px 40px 0px;
	text-transform: uppercase;
}

.owl-carousel .inner-slider .line-img {
	width: 87px;
	height: 3px;
}

.owl-carousel .inner-slider p {
	font-size: 9px;
	font-weight: 400;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #e0d4bd;
	margin: 40px 0px 30px;
	text-transform: uppercase;
}

.owl-carousel .inner-slider .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 9px;
	font-weight: 400;
	color: #976a4e;
	background: #e0d4bd;
	border: 0px;
	padding: 3px 10px;
	border: 1px solid #e0d4bd;
	border-radius: 20px;
	transition: 1s;
}

.owl-carousel .inner-slider .btn-primary:hover {
	color: #e0d4bd;
	background: transparent;
}

.owl-carousel .owl-nav button {
	position: relative;
	bottom: 0%;
	right: 0%;
}

.owl-theme .owl-nav {
	text-align: right !important;
	position: relative;
	bottom: 20%;
	right: 5%;
}

.owl-carousel .owl-nav button span {
	font-size: 30px;
	color: #e0d4bd;
	border: 1px solid #e0d4bd;
	padding: 0px 10px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: none !important;
}

.tool {
	width: 100%;
	background: url("../images/black-tool.png") center top no-repeat;
	background-size: cover;
}

.inner-tool {
	width: 100%;
	padding: 300px 0px 200px;
}

.inner-tool h1 {
	font-family: 'Tenor Sans';
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #3d3d3d;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
}

.inner-tool p {
	width: 40%;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #3d3d3d;
	margin: 20px 0px 20px;
	text-transform: uppercase;
}

.inner-tool .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #e0d4bd;
	background: #3d3d3d;
	border: 0px;
	padding: 5px 20px;
	border: 1px solid #3d3d3d;
	border-radius: 20px;
	transition: 1s;
	margin: 0px 0px 30px;
}

.inner-tool .btn-primary:hover {
	color: #3d3d3d;
	background: transparent;
	border: 1px solid #3d3d3d;
}

.book-self {
	width: 100%;
	padding: 80px 0px;
}

.book-self .book-self-bg {
	width: 100%;
	background: #e0d4bd;
	margin: 0px;
	padding: 0px;
}

.book-self-bg .img-fluid {
	height: 520px;
}

.book-self-bg .inner-book-self {
	width: 100%;
	padding: 130px 0px 0px;
}

.book-self-bg .inner-book-self h1 {
	font-family: 'Tenor Sans';
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #976a4e;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
}

.book-self-bg .inner-book-self .line-img {
	width: 87px;
	height: 3px;
}

.book-self-bg .inner-book-self p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #976a4e;
	margin: 20px 0px 20px;
	text-transform: uppercase;
	width: 80%;
}

.book-self-bg .inner-book-self .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 9px;
	font-weight: 400;
	color: #e0d4bd;
	background: #976a4e;
	border: 0px;
	padding: 3px 10px;
	border: 1px solid #976a4e;
	border-radius: 20px;
	transition: 1s;
}

.book-self-bg .inner-book-self .btn-primary:hover {
	color: #976a4e;
	background: transparent;
}

.lamp {
	width: 100%;
	background: url("../images/lamp-bg.png") center top no-repeat;
	background-size: cover;
}

.inner-lamp {
	width: 100%;
	padding: 250px 0px 200px;
}

.inner-lamp h1 {
	font-family: 'Tenor Sans';
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #3d3d3d;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
}

.inner-lamp p {
	width: 40%;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.7em;
	letter-spacing: 1px;
	color: #3d3d3d;
	margin: 20px 0px 20px;
	text-transform: uppercase;
}

.inner-lamp .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #e0d4bd;
	background: #3d3d3d;
	border: 0px;
	padding: 5px 20px;
	border: 1px solid #3d3d3d;
	border-radius: 20px;
	transition: 1s;
}

.inner-lamp .btn-primary:hover {
	color: #3d3d3d;
	background: transparent;
	border: 1px solid #3d3d3d;
}

.subscribe {
	width: 100%;
	background: url("../images/feature%20bg.png") center no-repeat;
	background-size: cover;
	padding: 80px 0px;
}

.inner-subscribe {
	width: 100%;
	padding: 40px 0px;


}

.inner-subscribe h1 {
	font-family: 'Tenor Sans';
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #3d3d3d;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	text-align: center;
}

.inner-form {
	width: 50%;
	margin: 0px auto;
}

.inner-form form input {
	margin: 0px 0px 15px;
	background: transparent;
	border: 1px solid #3d3d3d;

}

.inner-form form textarea {
	background: transparent;
	border: 1px solid #3d3d3d;
}

.inner-form form input[placeholder] {
	color: #3d3d3d;
}

.inner-form form textarea[placeholder] {
	color: #3d3d3d;
}

.inner-form form input:hover {
	border: 1px solid #AC967F;

}

.inner-form form textarea:hover {
	border: 1px solid #AC967F;

}

.form-control:focus {
	border: 1px solid !important;
	border-color: #AC967F;
	box-shadow: 0 0 0 1px rgba(172, 150, 127, 1) !important;
	background: transparent !important;
}

.inner-subscribe .btn-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	background: #3d3d3d;
	border: 0px;
	padding: 10px 40px;
	border: 1px solid #3d3d3d;
	border-radius: 20px;
	transition: 1s;
}

.inner-subscribe .btn-primary:hover {
	background: transparent;
	color: #3d3d3d !important;
	border: 1px solid #3d3d3d !important;
}

.footer {
	width: 100%;
	background: #494949;
}

.inner-footer {
	width: 100%;
	padding: 80px 0px 40px;

}

.inner-footer ul li {
	list-style: none;
	text-decoration: none;
}

.inner-footer ul li .head {
	font-size: 18px;
	font-weight: bold;
}

.inner-footer ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 1.7em;
	letter-spacing: 1px;
	font-weight: 500;
	margin: 0px 0px 10px;
	display: block;
	transition: 1s;
}

.inner-footer ul li a:hover {
	color: #95694D;
}

.paragraph {
	width: 100%;
	padding: 20px 0px;
}

.paragraph p {
	color: #fff;
	font-size: 14px;
	line-height: 1.7em;
	letter-spacing: 1px;
	font-weight: 500;
}

.paragraph p a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 1.7em;
	letter-spacing: 1px;
	font-weight: 500;
}

.paragraph p a:hover {
	color: #95694D;
}

.bottom-footer {
	width: 100%;
	text-align: right;
	float: left;
	display: block;
	padding: 20px 0px;
}

.bottom-footer ul {
	width: 100%;
	text-align: right;
}

.bottom-footer ul li {
	display: inline-block;
	text-align: right;
}

.bottom-footer ul li a {
	margin: 0px 0px 0px 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.7em;
	letter-spacing: 1px;
	font-weight: 500;
	transition: 1s;
}

.bottom-footer ul li a i {
	color: #3D3D3D;

}

.bottom-footer ul li a .fa {
	background: #A66A4B;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 100%;
	text-align: center;
	transition: 1s;
}

.bottom-footer ul li a i:hover {
	color: #fff;
}
